@import '@angular/material/theming';

@mixin navtabs-component-theme($bookmytaxi)
{

$Primary:map-get($bookmytaxi,primary);
$accent:map-get($bookmytaxi,accent);

  .navtabs-container {
    background-color: mat-color($bookmytaxi-primary,500);
  }

}
