<mat-nav-list class="sidenav-list">
<ul>
 <li> <a mat-list-iteam routerLink="/SignIn" (click)="onToggleClose()">
    <mat-icon>input</mat-icon>
    <span>SignIn</span>
  </a>
</li>

<li> <a mat-list-iteam routerLink="/SignUp" (click)="onToggleClose()">
    <mat-icon>account_circle</mat-icon>
    <span>SignUp</span>
  </a>
</li>

<li> <a mat-list-iteam routerLink="/accomodation" (click)="onToggleClose()">
    <mat-icon>hotel</mat-icon>
    <span>Accomodation</span>
  </a>
</li>

<li><a mat-list-iteam routerLink="/Offers" (click)="onToggleClose()">
    <mat-icon>loyalty</mat-icon>
    <span>Offers</span>
  </a>
</li>
</ul>
</mat-nav-list>
