<mat-toolbar class="mat-elevation-z6">
  <mat-icon color="">person_pin_circle</mat-icon>
  <button mat-button routerLink="/" routerLinkActive="active">Home</button>
  <button mat-button routerLink="/Login" routerLinkActive="active">Login</button>
  <button mat-button routerLink="/Join" routerLinkActive="active">Join</button>
  <button mat-raised-button color="accent" routerLinkActive="active">BOOK</button>
<div class="logo">
  <div fxLayout="column" fxLayoutAlign="right right">
<img class=logo-style src="assets/images/bookmytaxi-logos.jpeg">
  </div>
</div>
</mat-toolbar>
