/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

form.normal-form{
  margin: 10px;
}
.controles-container{
  width: 100%;
  padding: 5px;
}
@import '../node_modules/alertifyjs/build/css/alertify.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';
